:root {
  --light-text-color: #ffffff;
  --hero-background-color: #996b60;
  --primary-text-color: #000000;
  --btn-color: #191919;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --secondary-text-color: #8a8a8a;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
}

/* Header */

.header {
  background-color: var(--hero-background-color);
}

.nav-list {
  list-style-type: none;
}

.nav-list a {
  color: var(--light-text-color);
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Hero */

.hero-section {
  background-color: var(--hero-background-color);
}

.hero-title {
  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 73px;
  line-height: 1.32;

  color: var(--light-text-color);
}

.hero-text {
  font-size: 18px;
  line-height: 1.78;

  color: var(--light-text-color);
}

.hero-btn {
  font-size: 12px;
  line-height: 1.17;

  color: var(--primary-text-color);
  letter-spacing: 1px;
  text-transform: uppercase;

  text-decoration: none;
}

/* Reviews */

.reviews-list {
  list-style-type: none;
}

.reviews-list__item {
  font-size: 18px;
  line-height: 1.78;
}

/* Goods */

.goods-title {
  font-family: Tinos, serif;
  font-size: 64px;
  line-height: 1.25;
}

.goods-text {
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.goods-list {
  list-style-type: none;
}

.goods-item__title {
  font-family: Tinos, serif;
  font-size: 31px;
  line-height: 1.42;
}

.goods-item__description {
  font-size: 16px;
  line-height: 1.75;
}

.goods-item__btn {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--light-text-color);

  background: var(--btn-color);

  text-decoration: none;
}

/* Advantages */

.advantages-title {
  font-family: Tinos, serif;

  font-size: 53px;
  line-height: 1.51;
}

.advantages-text {
  font-size: 18px;
  line-height: 1.78;
}

.advantages-list {
  list-style-type: none;
}

.advantages-item__title {
  font-family: Tinos, serif;

  font-size: 30px;
  line-height: 1.47;
}

.advantages-item__text {
  font-size: 18px;
  line-height: 1.78;
}

/* Buyers reviews */

.buyers-reviews__section {
  background-color: var(--primary-text-color);
  color: var(--light-text-color);
}

.buyers-reviews__list {
  list-style-type: none;
}

.review {
  font-size: 18px;
  line-height: 1.78;
}

.reviewer {
  font-size: 14px;
  line-height: 1.5;

  text-transform: uppercase;
}

.reviewer-title {
  font-size: 16px;
  line-height: 1.5;

  text-transform: capitalize;

  color: #8a8a8a;
}

/* Article */

.article-title {
  font-family: Tinos, serif;

  font-size: 64px;
  line-height: 1.25;
}

.article {
  font-size: 18px;
  line-height: 1.78;
}

.article-btn {
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--primary-text-color);

  text-decoration: none;
}

/* Contacts */

.contacts-section {
  background-color: var(--primary-text-color);
  color: var(--light-text-color);
}

.contacts-title {
  font-family: Tinos, serif;

  font-size: 55px;
  line-height: 1.45;
}

.contacts-text {
  font-size: 16px;
  line-height: 1.75;
}

.spotify-link {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--primary-text-color);
  background-color: var(--light-text-color);

  text-decoration: none;
}

.contacts-links__title {
  font-size: 16px;
  line-height: 1.75;
}

.contacts-links {
  list-style-type: none;
}

.contacts-link {
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--light-text-color);

  text-decoration: none;
}
