:root {
  --light-text-color: #ffffff;
  --hero-background-color: #996b60;
  --primary-text-color: #000000;
  --btn-color: #191919;
  --footer-links-color: rgba(255, 255, 255, 0.6);
  --secondary-text-color: #8a8a8a;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
}

/* Utilites */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 330px;
}

.nav {
  display: flex;
}

.nav-list a {
  display: block;
  padding-top: 38px;
  padding-bottom: 38px;

  color: var(--light-text-color);
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  transition: color var(--time) var(--cubic);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--primary-text-color);
}

.nav-account__list a:hover,
.nav-account__list a:focus {
  color: var(--primary-text-color);
}

.nav-account__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-account__list a {
  display: block;
  padding-top: 38px;
  padding-bottom: 38px;

  color: var(--light-text-color);
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  transition: color var(--time) var(--cubic);
}

.nav-item:not(:last-child) {
  margin-right: 60px;
}

.nav-account__item:not(:last-child) {
  margin-right: 60px;
}

.logo > svg {
  max-width: 84px;
}

/* Hero */

.hero-section {
  background-color: var(--hero-background-color);
  display: flex;

  max-width: 1440px;

  margin-right: auto;
  margin-left: auto;
}

.hero {
  padding: 312px 88px 100px 60px;
}
.hero-image {
  display: block;
}

.hero-title {
  margin-bottom: 34px;

  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 73px;
  line-height: 1.32;

  color: var(--light-text-color);
}

.hero-text {
  font-size: 18px;
  line-height: 1.78;
  margin-bottom: 46px;
  margin-top: 0px;

  color: var(--light-text-color);
}

.hero-btn {
  display: inline-block;
  padding: 18px 52px 20px;

  font-size: 12px;
  line-height: 1.17;

  color: var(--primary-text-color);
  letter-spacing: 1px;
  text-transform: uppercase;

  text-decoration: none;

  background-color: var(--hero-background-color);
  border-radius: 0px;
  border: 1px solid var(--light-text-color);

  transition: color var(--time) var(--cubic), border var(--time) var(--cubic),
    background-color var(--time) var(--cubic);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--light-text-color);
  background-color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

/* Reviews */

.reviews-list {
  list-style-type: none;
  display: flex;
  padding: 55px 0px 42px;

  border-bottom: 1px solid #bdbdbd;
}

.reviews-list__item {
  width: calc((100%-2 * 165) / 3);

  font-size: 18px;
  line-height: 1.78;
  padding: 4px 21px 0px;
}

.reviews-list__item:not(:last-child) {
  margin-right: 165px;
}

.review-text {
  text-align: center;

  margin-bottom: 36px;
}

.reviews-list__item > img {
  display: block;

  margin-right: auto;
  margin-left: auto;
}

/* Goods */

.goods {
  padding: 105px 30px 140px;
}

.goods-title {
  max-width: 673px;
  margin-right: auto;
  margin-left: auto;

  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 64px;
  line-height: 1.25;
  text-align: center;
}

.goods-text {
  margin-top: 24px;
  text-align: center;

  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.goods-list {
  list-style-type: none;
  display: flex;
  margin-top: 82px;
}

.goods-item__title {
  margin-top: 19px;
  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 31px;
  line-height: 1.42;
}

.goods-item__description {
  margin-top: 16px;

  font-size: 16px;
  line-height: 1.75;
}

.goods-item__btn {
  display: inline-block;
  margin-top: 27px;
  padding-top: 18px;
  padding-bottom: 20px;
  min-width: 180px;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--light-text-color);

  background-color: var(--btn-color);
  border: 1px solid var(--primary-text-color);
  text-decoration: none;

  transition: color var(--time) var(--cubic), border var(--time) var(--cubic),
    background-color var(--time) var(--cubic);
}

.goods-item__btn:hover,
.goods-item__btn:focus {
  color: var(--btn-color);
  border: 1px solid var(--primary-text-color);
  background-color: var(--light-text-color);
}

.goods-item > img {
  display: block;
}

.goods-item {
  width: calc((100%-2 * 55px) / 3);
  text-align: center;
}

.goods-item:not(:last-child) {
  margin-right: 55px;
}

.bestseller-thumb {
  position: relative;
  /* padding-top: 23px;
  padding-left: 19px; */
}

.bestseller-mark {
  position: absolute;
  top: 23px;
  right: 19px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;

  width: 100px;
  height: 100px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--light-text-color);
  background-color: var(--btn-color);
}

/* Advantages */

.advantages-title {
  font-family: Tinos, serif;
  font-weight: normal;

  font-size: 53px;
  line-height: 1.51;
}

.advantages-text {
  margin-bottom: 95px;
  max-width: 548px;
  font-size: 18px;
  line-height: 1.78;
}

.intro {
  justify-content: space-between;
  display: flex;

  margin-top: 59px;

  border-bottom: 1px solid #bdbdbd;
}

.advantages-block {
  display: flex;
  padding-top: 59px;
  padding-bottom: 50px;
}

.advantages-list {
  list-style-type: none;
  margin-right: 55px;
  padding-top: 112px;
}

.advantages-item__title {
  margin-bottom: 19px;
  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.47;
}

.item-big__title {
  margin-bottom: 19px;
  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.47;
}

.advantages-item__text {
  font-size: 18px;
  line-height: 1.78;
}

.advantages-list > li:not(:last-child) {
  margin-bottom: 20px;
}

/* Buyers reviews */

.buyers-reviews__section {
  background-color: var(--primary-text-color);
  color: var(--light-text-color);
}

.buyers-reviews__list {
  list-style-type: none;
  display: flex;
  padding: 95px 0px 50px;
}

.review {
  font-size: 18px;
  line-height: 1.78;
  margin-bottom: 17px;
}

.reviewer {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;

  text-transform: uppercase;
}

.reviewer-title {
  font-size: 16px;
  line-height: 1.5;

  text-transform: capitalize;

  color: #8a8a8a;
}

.buyers-review {
  width: calc((100%-2 * 185px) / 3);
  text-align: center;
}

.buyers-review:not(:last-child) {
  margin-right: 185px;
}

/* Article */

.article-section {
  display: flex;
  padding-top: 60px;
  padding-bottom: 59px;
}

.article-image {
  display: block;
  margin-right: 110px;
}

.article-title {
  margin-bottom: 154px;

  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 64px;
  line-height: 1.25;
}

.article {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 1.78;
}

.article-btn {
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--primary-text-color);

  text-decoration: none;
}

/* Contacts */

.contacts-section {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/set_the_mood.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--light-text-color);
}

.contacts-block {
  width: 550px;
  padding: 40px 69px 40px;
  margin-bottom: 20px;
  text-align: center;

  background-color: var(--primary-text-color);
}

.contacts-title {
  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 55px;
  line-height: 1.45;
  margin-bottom: 9px;
}

.contacts-text {
  font-size: 16px;
  line-height: 1.75;
}

.spotify-link {
  margin-top: 26px;
  display: inline-block;
  min-width: 180px;
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--primary-text-color);
  background-color: var(--light-text-color);

  text-decoration: none;
  transition: color var(--time) var(--cubic),
    background-color var(--time) var(--cubic), outline var(--time) var(--cubic);
}

.spotify-link:hover,
.spotify-link:focus {
  color: var(--light-text-color);
  background-color: var(--primary-text-color);
  outline: 1px solid var(--light-text-color);
}

.contacts-links__title {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 17px;
}

.contacts-links__block {
  width: 550px;
  padding: 30px 134px 32px;
  background-color: var(--primary-text-color);
}

.contacts-links {
  list-style-type: none;
  display: flex;
}

.contacts-link {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--light-text-color);

  text-decoration: none;

  transition: color var(--time) var(--cubic);
}

.contacts-links > li:not(:last-child) {
  margin-right: 21px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #818181;
}

/* Footer */

.footer {
  background-color: var(--primary-text-color);
  color: var(--light-text-color);
}

.footer-main__block {
  display: flex;
  padding-top: 45px;
}

.footer-title {
  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 42px;
  line-height: 1.71;
}

.footer-text {
  margin-right: 16px;
  margin-top: 12px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5;
}

.footer-list {
  display: flex;
  padding-top: 10px;
}

.form-block {
  max-width: 440px;
  margin-right: 220px;
}

.form-input {
  font-size: 9px;
  line-height: 1.56;

  letter-spacing: 0.12px;
  text-transform: uppercase;

  color: #818181;
}

.form-submit {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.12px;
  text-transform: uppercase;
}

.footer ul {
  list-style-type: none;
}

.footer-links__title {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;

  text-transform: uppercase;
}

.footer-link {
  font-size: 12px;
  line-height: 1.5;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--footer-links-color);

  text-decoration: none;

  transition: color var(--time) var(--cubic);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--light-text-color);
}

.mark {
  font-size: 15px;
  line-height: 1.6;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 21px;
}

.footer-list__item {
  margin-right: 60px;
}

.mark-list {
  margin-top: 141px;
  display: flex;
  align-items: center;
}

.mark-list > li:not(:last-child) {
  margin-right: 60px;
}

.form-input {
  padding-left: 9px;
  width: 300px;
  background-color: var(--primary-text-color);
  border: 0;

  font-size: 12px;
  line-height: 1.56;
  color: var(--light-text-color);
}

.form-input:focus-within {
  border: 0;
  outline: 0;
}

.form-input::placeholder {
  font-size: 9px;
  line-height: 1.56;

  letter-spacing: 0.12px;
  text-transform: uppercase;

  color: #818181;
}

.form-submit {
  padding: 0;
  background-color: var(--primary-text-color);
  border: 0;

  letter-spacing: 0.12px;
  text-transform: uppercase;

  color: var(--light-text-color);
}

.footer-form {
  display: flex;
  justify-content: space-between;

  padding-bottom: 22px;
  padding-right: 0;
  border-bottom: 1px solid var(--secondary-text-color);
}

/* Modal */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms ease;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 300px;
  padding: 30px;
  transform: translate(-50%, -50%);
  justify-content: flex-end;

  background-color: var(--light-text-color);
  transition: transform 250ms linear;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid var(--secondary-text-color);
}

.close-btn > svg {
  width: 15px;
  height: 15px;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.25);
}

.modal-form__input {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.modal-form__input:focus-within {
  border: 2px solid var(--hero-background-color);
  outline: 0;
}

.modal-btn {
  display: inline-block;
  padding: 18px 52px 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  line-height: 1.17;

  color: var(--light-text-color);
  letter-spacing: 1px;
  text-transform: uppercase;

  text-decoration: none;

  background-color: var(--primary-text-color);
  border-radius: 0px;
  border: 1px solid var(--light-text-color);

  transition: color var(--time) var(--cubic), border var(--time) var(--cubic),
    background-color var(--time) var(--cubic);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  margin-left: 0px;
}
