.article {
  padding-top: 60px;
  padding-bottom: 59px;

  display: flex;
}

.article__image {
  margin-right: 110px;

  display: block;
}

.article__title {
  margin-bottom: 154px;

  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 64px;
  line-height: 1.25;
}

.article__text {
  margin-bottom: 35px;

  font-size: 18px;
  line-height: 1.78;
}

.article__btn {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $primary-text-color;
  text-decoration: none;
}
