.contacts {
  width: 1440px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;

  background-image: url(../images/set_the_mood.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $light-text-color;
}

.contacts-block {
  width: 550px;
  padding: 40px 69px 40px;
  margin-bottom: 20px;
  text-align: center;

  background-color: $primary-text-color;
}

.contacts__title {
  margin-bottom: 9px;

  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 55px;
  line-height: 1.45;
}

.contacts__text {
  font-size: 16px;
  line-height: 1.75;
}

.spotify-link {
  margin-top: 26px;
  min-width: 180px;
  padding-top: 18px;
  padding-bottom: 20px;

  display: inline-block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $primary-text-color;
  background-color: $light-text-color;
  transition: color $time $cubic, background-color $time $cubic,
    outline $time $cubic;

  &:hover,
  &:focus {
    color: $light-text-color;
    background-color: $primary-text-color;
    outline: 1px solid $light-text-color;
  }
}

.links-block {
  width: 550px;
  padding: 30px 134px 32px;

  background-color: $primary-text-color;
}

.links-block__title {
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 1.75;
}

.links-block__list {
  display: flex;
  & > li:not(:last-child) {
    margin-right: 21px;
  }
}

.links-block__link {
  display: inline-block;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $light-text-color;
  transition: color $time $cubic;

  &:hover,
  &:focus {
    color: #818181;
  }
}
