.footer {
  background-color: $primary-text-color;
  color: $light-text-color;
}

.footer-block {
  padding-top: 45px;

  display: flex;
}

.footer--title {
  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 42px;
  line-height: 1.71;
}

.footer--text {
  margin-right: 16px;
  margin-top: 12px;
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 1.5;
}

.footer--list {
  padding-top: 10px;

  display: flex;
}

.footer--list-title {
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.footer--link {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--footer-links-color);
  transition: color var(--time) var(--cubic);

  &:hover,
  &:focus {
    color: var(--light-text-color);
  }
}

.mark {
  font-size: 15px;
  line-height: 1.6;
}

.footer--item {
  margin-right: 60px;

  &:not(:last-child) {
    margin-bottom: 21px;
  }
}

.footer--mark-list {
  margin-top: 141px;
  display: flex;
  align-items: center;

  & > li:not(:last-child) {
    margin-right: 60px;
  }
}
