.goods {
  padding: 105px 30px 140px;
}

.goods--title {
  max-width: 673px;
  margin-right: auto;
  margin-left: auto;

  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 64px;
  line-height: 1.25;
  text-align: center;
}

.goods--text {
  margin-top: 24px;
  text-align: center;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.goods--list {
  margin-top: 82px;

  display: flex;
}

.goods--item {
  width: calc((100%-2 * 55px) / 3);
  text-align: center;

  &:not(:last-child) {
    margin-right: 55px;
  }
}

.goods--item > img {
  display: block;
}

.goods-item__title {
  margin-top: 19px;
  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 31px;
  line-height: 1.42;
}

.goods-item__description {
  margin-top: 16px;

  font-size: 16px;
  line-height: 1.75;
}

.goods-item__btn {
  display: inline-block;
  margin-top: 27px;
  padding-top: 18px;
  padding-bottom: 20px;
  min-width: 180px;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--light-text-color);

  background-color: var(--btn-color);
  border: 1px solid var(--primary-text-color);
  text-decoration: none;

  transition: color var(--time) var(--cubic), border var(--time) var(--cubic),
    background-color var(--time) var(--cubic);
}

.goods-item__btn:hover,
.goods-item__btn:focus {
  color: var(--btn-color);
  border: 1px solid var(--primary-text-color);
  background-color: var(--light-text-color);
}

.bestseller-thumb {
  position: relative;
  /* padding-top: 23px;
  padding-left: 19px; */
}

.bestseller-mark {
  position: absolute;
  top: 23px;
  right: 19px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;

  width: 100px;
  height: 100px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--light-text-color);
  background-color: var(--btn-color);
}
