.goods {
  padding: 105px 30px 140px;
}

.goods__title {
  max-width: 673px;
  margin-right: auto;
  margin-left: auto;

  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 64px;
  line-height: 1.25;
  text-align: center;
}

.goods__text {
  margin-top: 24px;
  text-align: center;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.goods__list {
  margin-top: 82px;

  display: flex;
}

.goods__item {
  width: calc((100%-2 * 55px) / 3);
  text-align: center;

  &:not(:last-child) {
    margin-right: 55px;
  }
}

.goods__item > img {
  display: block;
}

.goods__item-title {
  margin-top: 19px;

  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 31px;
  line-height: 1.42;
}

.goods__item-description {
  margin-top: 16px;

  font-size: 16px;
  line-height: 1.75;
}

.goods__item-btn {
  margin-top: 27px;
  padding-top: 18px;
  padding-bottom: 20px;
  min-width: 180px;

  display: inline-block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $light-text-color;
  background-color: $btn-color;
  border: 1px solid $primary-text-color;
  text-decoration: none;

  transition: color $time $cubic, border $time $cubic,
    background-color $time $cubic;

  &:hover,
  &:focus {
    color: $btn-color;
    border: 1px solid $primary-text-color;
    background-color: $light-text-color;
  }
}

.bestseller-thumb {
  position: relative;
}

.bestseller-mark {
  position: absolute;
  top: 23px;
  right: 19px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  border-radius: 50%;
  color: $light-text-color;
  background-color: $btn-color;
}
