.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $hero-background-color;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo > svg {
  width: 100px;
  height: 60px;
}

// .logo {
//    background-color: black;
//      margin-right: 50px;
// }

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__account-item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__link,
.navigation__account-link {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $primary-text-color;
  transition: color $time $cubic;

  &:hover,
  &:focus {
    color: $hero-background-color;
  }
}
