.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
}

.navigation {
  display: flex;
}

.navigation--list {
  margin-right: 330px;

  display: flex;
  align-items: center;
}

.navigation--link {
  padding-top: 38px;
  padding-bottom: 38px;

  display: block;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $light-text-color;
  transition: color $time $cubic;

  &:hover,
  &:focus {
    color: $primary-text-color;
  }
}

.navigation--item:not(:last-child) {
  margin-right: 60px;
}

.logo > svg {
  max-width: 84px;
}

.navigation--account-list {
  margin-left: auto;

  display: flex;
  align-items: center;
}

.navigation--account-link {
  padding-top: 38px;
  padding-bottom: 38px;

  display: block;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $light-text-color;
  transition: color $time $cubic;

  &:hover,
  &:focus {
    color: $primary-text-color;
  }
}

.navigation--account-item:not(:last-child) {
  margin-right: 60px;
}
