.header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $hero-background-color;
  @include for-size(desktop) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 15px;

    margin-right: auto;
    margin-left: auto;

    display: flex;

    background-color: transparent;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  @include for-size(desktop) {
    // margin-right: 330px;

    display: flex;
    align-items: center;
  }
}

.navigation__account-list {
  @include for-size(desktop) {
    // margin-left: auto;

    display: flex;
    align-items: center;
  }
}

.logo > svg {
  width: 100px;
  height: 60px;
}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
  @include for-size(desktop) {
    margin-bottom: 0;
    margin-right: 60px;
  }
}

.navigation__account-item:not(:last-child) {
  margin-bottom: 10px;
  @include for-size(desktop) {
    margin-bottom: 0;
    margin-right: 60px;
  }
}

.navigation__link,
.navigation__account-link {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $primary-text-color;
  @include for-size(desktop) {
    color: $light-text-color;
  }

  transition: color $time $cubic;

  &:hover,
  &:focus {
    color: $light-text-color;
    @include for-size(desktop) {
      color: $primary-text-color;
    }
  }
}
