.hero-section {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;

  background-color: $hero-background-color;

  @include for-size(desktop) {
    display: flex;
  }
}

.hero-image {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @include for-size(desktop) {
    display: block;

    & > img {
      max-width: 720px;
    }
  }
}

.hero {
  @media screen and (max-width: 1199px) {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 32px 18px;
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(47, 48, 58, 0.1);
  }

  @media screen and (min-width: 480px) {
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero@2x.jpg');
    }
  }

  @include for-size(desktop) {
    padding: 312px 88px 0px 60px;
    max-width: 720px;
  }
}

.hero__title {
  margin-top: 12px;
  margin-bottom: 34px;
  text-align: center;
  font-family: Tinos, serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.2;

  color: $light-text-color;

  @include for-size(desktop) {
    margin-top: 0;
    font-size: 73px;
    line-height: 1.32;
    text-align: start;
  }
}

.hero__text {
  margin-bottom: 46px;

  text-align: center;
  font-size: 14px;
  line-height: 1.78;

  color: $light-text-color;

  @include for-size(desktop) {
    margin-top: 0px;
    font-size: 18px;
    line-height: 1.78;
    text-align: start;
  }
}

.hero-btn {
  padding: 18px 52px 20px;

  display: inline-block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $primary-text-color;
  background-color: $hero-background-color;
  border-radius: 0px;
  border: 1px solid $light-text-color;

  transition: color $time $cubic, border $time $cubic,
    background-color $time $cubic;

  &:hover,
  &:focus {
    color: $light-text-color;
    background-color: $primary-text-color;
    border: 1px solid $primary-text-color;
  }
}
