$light-text-color: #ffffff;
$hero-background-color: #996b60;
$primary-text-color: #000000;
$btn-color: #191919;
$footer-links-color: rgba(255, 255, 255, 0.6);
$secondary-text-color: #8a8a8a;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
