.reviews__list {
  padding: 55px 0px 42px;

  display: flex;

  border-bottom: 1px solid #bdbdbd;
}

.reviews__item {
  width: calc((100%-2 * 165) / 3);
  padding: 4px 21px 0px;

  font-size: 18px;
  line-height: 1.78;

  &:not(:last-child) {
    margin-right: 165px;
  }
}

.review__text {
  text-align: center;
  margin-bottom: 36px;
}

.reviews__item > img {
  margin-right: auto;
  margin-left: auto;

  display: block;
}
